<div class="w-100 h-100">
  <div class="d-flex align-items-center pricing-card-header">
    <img src="../../../assets/images/dollar-symbol.png" width="15" height="15" />
    <div class="ft-14 fw-500 ml-2 text-capitalize">selet pricing option </div>
  </div>
  <div class="pricing-card-body">
    <div class="p-2">





      <table class="table table-bordered" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="8">
        <thead class="thead-dark">
          <tr>

            <th (click)="addingValue()" class="ft-12 cursor-pointer">
              <div style="width: 55px;" ngbTooltip="click to add new row in table" tooltipClass="custom-class"
                placement="top">
                <img width="16" height="16" src="../../../assets/images/add.png" />
                <span class="pl-2">Add</span>
              </div>
            </th>
            <th style="width: 20%">
              <mfDefaultSorter by="name">Name</mfDefaultSorter>
            </th>
            <th style="width: 20%">
              <mfDefaultSorter by="saving">Saving</mfDefaultSorter>
            </th>
            <th style="width: 10%">
              <mfDefaultSorter by="residuals">Residuals</mfDefaultSorter>
            </th>
            <th style="width: 20%">
              <mfDefaultSorter by="rate">Rate</mfDefaultSorter>
            </th>
            <th style="padding: 0 30px;"></th>

          </tr>
        </thead>
        <tbody>

          <tr class="ft-14 table-list cursor-pointer" [ngClass]="[!list.disabled ? 'table-select' : '']"
            *ngFor="let list of mf.data; index as i">
            <td style="width: 70px; text-align: center;">
              <img (click)="disableEnable(list)" *ngIf="list.disabled" class="cursor-pointer"
                src="../../../assets/images/edit.png" width="16" height="16" ngbTooltip="click to edit"
                tooltipClass="custom-class" placement="top" />
              <img *ngIf="!list.disabled" (click)="disableEnable(list)" class="cursor-pointer"
                src="../../../assets/images/check.png" width="18" height="18" ngbTooltip="click to save"
                tooltipClass="custom-class" placement="top" />
              <!-- <span class="pl-3">{{i+1}}</span> -->
            </td>
            <td><input class="custom-input" placeholder="enter details" style="width: 200px;"
                [ngClass]="[!list.disabled ? 'edit-input' : '']" disabled={{list.disabled}} [(ngModel)]="list.name" />
            </td>
            <td><input class="custom-input" placeholder="enter saving" style="width: 70px;"
                [ngClass]="[!list.disabled ? 'edit-input' : '']" disabled={{list.disabled}} [(ngModel)]="list.saving" />
            </td>
            <td><input class="custom-input" placeholder="enter residuals" style="width: 70px;"
                [ngClass]="[!list.disabled ? 'edit-input' : '']" disabled={{list.disabled}}
                [(ngModel)]="list.residuals" /></td>
            <td><input class="custom-input" placeholder="enter rate" style="width: 50px;"
                [ngClass]="[!list.disabled ? 'edit-input' : '']" disabled={{list.disabled}} [(ngModel)]="list.rate" />
            </td>
            <td class="text-center"><img (click)="clickedSubTract(list,i)" width="14" height="14"
                src="../../../assets/images/rubbish.png" /></td>

          </tr>

        </tbody>
        <tfoot>
          <tr>
            <td colspan="6">
              <mfBootstrapPaginator></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
      <div class="d-flex text-capitalize">
        <div class="ft-14 fw-500 mr-2">non-monthly fees</div>
        <button class="btn btn-primary custom-btn ft-12">Add</button>
      </div>
    </div>
    <div class="detail-header p-2">
      Final Proposal Details Below
    </div>
    <div class="d-flex align-items-center text-capitalize p-2">
      <div class="ft-14 fw-500 mr-2">Proposal</div>
      <button class="btn btn-primary custom-btn ft-12">Update</button>
      <img src="../../../assets/images/help-web-button.png" width="10" height="10" class="mx-2" />
    </div>
    <div class="pb-1">
      <table class="table proposal-table text-center">
        <tr class="ft-14">
          <td>Generated</td>
          <td>3/09/2016</td>
          <td>Pricing</td>
          <td>6 Tiered w/Reg Debit</td>
        </tr>
      </table>
    </div>
  </div>
</div>