
.custom-class .tooltip-inner {
    background-color: darkgreen !important;
    font-size: 125%;
  }
  .custom-class .arrow::before {
    border-top-color: darkgreen !important;
  }
  ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 0;
}